{% extends "electronics/index.html" %}
{% block content %}
<html lang="en">
{% load static %}
<head>
    <title>About us</title>
    <style>
        h1 {
  color: #106eea;
  font-size: 40px;
    }

    </style>
</head>

<body>
<br>
<center><h1>About us</h1></center><br>
<center><img src="static/electronics/assets/img/aboutimg.jpg"></center>
<br>
<center><p>This website helps the customers to view the product details and the service details provided by various organizations.Customers can contact the various organizations using the details given in the website.
</p>
    <p>The four type of products we give publicity are </p><br>
    <b><p>&#9658;Electronics</p>
    <p>&#9658;Travel</p>
    <p>&#9658;Real estate</p>
    <p>&#9658;Books and Stationery</p></b>
</center>
</body>
</html>
{% endblock content %}